$def with (content)
<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Strict//EN” “http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd”>
<html xmlns="http://www.w3.org/1999/xhtml" class="ver54">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="QQ群">
        <meta name="description" content="QQ群信息。">
        <link rel="stylesheet" href="/static/member.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <script src="/static/build/react.js" type="text/javascript"></script>
        <script src="/static/build/react-dom.js" type="text/javascript"></script>
        <script src="/static/build/browser.min.js" type="text/javascript"></script>
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
        <script src="/static/base-polyfill.js" type="text/javascript"></script>
        <title>$content.title</title>
        <style>
        .search-btn{
            height: 32px;
        }
        </style>
    </head>
<body>
    <div class="header">
        <div class="header-top">
            <a href="http://qun.qq.com" class="logo">
            </a>
        </div>
    </div>
$:content
    <div class="footer">
        <p>
            友情链接：
            <a href="http://im.qq.com/" target="_blank">
                QQ官方网站
            </a>
            |
            <a href="/qq/" target="_blank">
                QQ号码查询
            </a>
            |
            <a href="/qun/" target="_blank">
                QQ群查询
            </a>
            |
            <a href="/nick/" target="_blank">
                QQ昵称查询
            </a>
            |
            <a href="/" target="_blank">
                首页
            </a>
        </p>
        <p>
            Copyright © 1998-2015 TX. All Rights Reserved.
        </p>
        <p>
            XX公司 版权所有
        </p>
    </div>
</body>
</html>