$def with(input, json_data)
$var title:QQ群成员信息
<div class="body" id="react-app"></div>
<script type="text/javascript">
    var _QUN_NUM = $:(input);
    var _QUN_INFO = $:(json_data);
</script>
<script type="text/babel">
    var QunTitle = React.createClass({
        render: function() {
            return  (
                <div className="group-tit">
                    <span>QQ群 : {this.props.title ? this.props.title : '未找到！'}({this.props.qun})</span>
                    
                </div>
            )
        }
    })

    var QunInfo = React.createClass({
        render: function() {
            return (
                <div className="group-members">
                    <p>
                        {this.props.info["QunText"]}
                    </p>
                    <span>
                        群成员人数 : {this.props.info["Members"].length}
                    </span>
                    <span style={{marginLeft: 20 + 'px'}}>
                        建立时间:{this.props.info["CreateDate"]}
                    </span>  
                    <span style={{marginLeft: 20 + 'px'}}>
                        MastQQ : {this.props.info["MastQQ"]}
                    </span>  
                    <span style={{marginLeft: 20 + 'px'}}>
                        Class : {this.props.info["Class"]}
                    </span>
                </div>
            )
        }
      })

    var QunSearch = React.createClass({
        getInitialState: function() {
            return {
                qun: ""
            }
        },
        searchQunClick: function(event) {
            if(this.state.qun){
                location.href = '/qun/' + this.state.qun + '.html'
            }
        },
        searchQunChange: function(event) {
            if(parseInt(event.target.value) || event.target.value==''){
                this.setState({
                    qun: event.target.value
                })
            }
        },
        render: function() {
            return (
                <div className="group-search">
                    <div className="group-input">
                        <input type="text" placeholder="搜索QQ群号码" value={this.state.qun} onChange={this.searchQunChange} />
                    </div>
                    <button className="search-btn" onClick={this.searchQunClick}>搜索</button>
                </div>
            )
        }
    })
    
    var QunGroupTools = React.createClass({
        render: function() {
            return (
                <div className="group-tools">
                    <QunInfo info={this.props.info} />
                    <QunSearch />
                </div>
            )
        }
    })

    var QunMembersList = React.createClass({
        render:function(){
            return (
                <div className="group-memeber">
                    <table cellSpacing="0" cellPadding="0" border="0" width="100%" align="center">
                        <thead>
                            <tr>
                                <th className="th-left th-card" width="100" >序号</th>
                                <th className="th-left th-card" width="160">群名片</th>
                                <th className="th-left" width="100">QQ号</th>
                                <th className="th-left" width="90">性别</th>
                                <th className="th-left" width="90">年龄</th>
                                <th className="th-left" width="90">权限</th>
                            </tr>
                        </thead>
                        <tbody className="list">{
                            this.props.members.map(function (item) {
                            return (
                                <tr key={item["QQNum"]}>
                                    <td className="td-no">{item["Index"]}</td>
                                    <td className="td-user-nick"><span>{item["Nick"]}</span></td>
                                    <td><a href={'/qq/' + item["QQNum"] + '.html'} >{item["QQNum"]}</a></td>
                                    <td>{item["Gender"]}</td>
                                    <td>{item["Age"]}</td>
                                    <td>{item["Auth"]}</td>
                                </tr>
                            )
                            })
                        }</tbody>
                    </table>
                </div>
            )
        }
    })
    
    var App = React.createClass({
        render: function() {
            return (
                <dl>
                    <dt>
                        <QunTitle title={this.props.info['Title']} qun={this.props.qun}/>
                    </dt>
                    <dd>
                        <QunGroupTools info={this.props.info}/>
                        <QunMembersList members={this.props.info['Members']}/>
                    </dd>
                </dl>
            )
        }
    })

    ReactDOM.render(
        <App qun={_QUN_NUM} info={_QUN_INFO} />,
        document.getElementById('react-app')
    )
</script>