$def with(input, json_data)
$var title:QQ号码信息
<div class="body" id="react-app"></div>
<script type="text/javascript">
    var _QQ_NUM = $:(input);
    var _QUN_LIST = $:(json_data);
</script>
<script type="text/babel">
    var QqTitle = React.createClass({
        render: function() {
            return  (
                <div className="group-tit">
                    <span>QQ号码 : {this.props.qq}</span>
                </div>
            )
        }
    })

    var QqInfo = React.createClass({
        render: function() {
            return (
                <div className="group-members">
                    信息条数:
                    <span>
                        {this.props.length}
                    </span>
                </div>
            )
        }
    })

    var QqSearch = React.createClass({
        getInitialState: function() {
            return {
                qq: ""
            }
        },
        searchQqClick: function(event) {
            if(this.state.qq){
                location.href = '/qq/' + this.state.qq + '.html'
            }
        },
        searchQqChange: function(event) {
            if(parseInt(event.target.value) || event.target.value==''){
                this.setState({
                    qq: event.target.value
                })
            }
        },
        render: function() {
            return (
                <div className="group-search">
                    <div className="group-input">
                        <input type="text" placeholder="搜索QQ号码" value={this.state.qq} onChange={this.searchQqChange} />
                    </div>
                    <button className="search-btn" onClick={this.searchQqClick}>搜索</button>
                </div>
            )
        }
    })

    var QqGroupTools = React.createClass({
        render: function() {
            return (
                <div className="group-tools">
                    <QqInfo length={this.props.length} />
                    <QqSearch />
                </div>
            )
        }
    })

    var QqQunList = React.createClass({
        render:function(){
            return (
                <div className="group-memeber">
                    <table cellSpacing="0" cellPadding="0" border="0" width="100%" align="center">
                        <thead>
                            <tr>
                                <th className="th-left th-card" width="100">群号</th>
                                <th className="th-left th-card" width="100">群信息</th>
                                <th className="th-left th-card" width="160">群名片</th>
                                <th className="th-left" width="100">QQ号</th>
                                <th className="th-left" width="90">性别</th>
                                <th className="th-left" width="90">年龄</th>
                                <th className="th-left" width="90">权限</th>
                            </tr>
                        </thead>
                        <tbody className="list">{
                            this.props.quns.map(function (item) {
                                return (
                                    <tr key={item["QunNum"]}>
                                        <td className="td-no"><a href={'/qun/' + item["QunNum"] + '.html'} >{item["QunNum"]}</a></td>
                                        <td className="td-no">
                                            <p><strong>{item["Title"]}</strong> ({item["CreateDate"]})</p>
                                            <span style={{lineHeight: 15 + 'px'}}>{item["QunText"]}</span>
                                        </td>
                                        <td className="td-user-nick"><span>{item["Nick"]}</span></td>
                                        <td><a href={'/qq/' + item["QQNum"] + '.html'} >{item["QQNum"]}</a></td>
                                        <td>{item["Gender"]}</td>
                                        <td>{item["Age"]}</td>
                                        <td>{item["Auth"]}</td>
                                    </tr>
                                )
                            })
                        }</tbody>
                    </table>
                </div>
            )
        }
    })
    
    var App = React.createClass({
        render: function() {
            return (
                <dl>
                    <dt>
                        <QqTitle qq={this.props.qq} />
                    </dt>
                    <dd>
                        <QqGroupTools length={this.props.quns.length} />
                        <QqQunList quns={this.props.quns}/>
                    </dd>
                </dl>
            )
        }
    })

    ReactDOM.render(
        <App qq={_QQ_NUM} quns={_QUN_LIST} />,
        document.getElementById('react-app')
    )
</script>